<section class="forget mx-auto p-3">
  <h1 class="text-center text-main mb-3">Forget Password</h1>
  @if (step()==1) {
    <form [formGroup]="verifyEmail" class=" rounded-4  " (ngSubmit)="verifyEmailSubmit()">
      <div class="my-2">
        <label for="email">Email :</label>
        <input formControlName="email" id="email" type="email" class="form-control">
      </div>

      <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
    </form>
  }

  @if (step()==2) {
    <form [formGroup]="verifyCode" class=" rounded-4 " (ngSubmit)="verifyCodeSubmit()">
      <div class="my-2">
        <label for="email">resetCode</label>
        <input formControlName="resetCode" id="resetCode" type="resetCode" class="form-control">
      </div>

      <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code</button>
    </form>

  }
@if (step()==3) {
  <form [formGroup]="resetPassword" class=" rounded-4" (ngSubmit)="verifyRePassSubmit()">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
    </div>
    <div class="my-2">
      <label for="newPassword">newPassword</label>
      <input formControlName="newPassword" id="newPassword" type="newPassword" class="form-control">
    </div>

    <button [disabled]="resetPassword.invalid" class="btn-main">Verify Email</button>
  </form>
}


</section>
